<div class="container">
  <h1>Messages</h1>
 


  <div class="alert alert-info" role="alert" *ngIf="selectLoading$ | async; else messages">
    Fetching Messages...
  </div>

  <ng-template #messages>
    <div *ngIf="appModel$ | async as model">
      <h1>Total messages : {{model.messagesCount}}</h1>
      <p> Messages per minute average : {{model.messagesPerMinuteAverage}}</p>
      <div class="country-list-container">
        <h3> Top Country by posted messages </h3>
        <li *ngFor="let message of messagesByCountry$ | async">
          {{ message.id }} = {{ message.counter }}
        </li>
      </div>
    </div>
    
    <div class="hashtag-searcher-container">
      <input type="text" #hashTagFilter placeholder="Search by hashtag or word">
      <button (click)="setHashTagFilter(hashTagFilter.value)">Submit</button>
    </div>
    <div class="messages-container">
      <div class="twitter-post" *ngFor="let message of messages$ | async">
        <img class="twitter-post-image" src="{{message.profile_url}}" />
        <div class="twitter-post-body">
          <span class="card-title"> @{{ message.username }} : </span>
          <span class="badge badge-info">{{message.text}}$</span>
        </div>
      </div>

    </div>

  </ng-template>

</div>